@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
$primary: #0d6efd;
$secondary: #6c757d;
$success: #43bd25;
$info: #13101c;
$warning: #945707;
$danger: #d62518;
$light: #f8f9fa;
$dark: #343a40;
$theme-colors: ( primary: $primary,
secondary: $secondary,
success: $success,
info: $info,
warning: $warning,
danger: $danger,
light: $light,
dark: $dark);
@import "../lib/bootstrap/scss/bootstrap.scss";
html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

footer {
    ul {
        display: block;
        list-style-type: none;
        li {
            display: inline-block;
            margin: 0px 10px;
        }
    }
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    background-color: #ebebeb !important;
    &-text {
        text-decoration: none;
        &:hover {
            text-decoration: underline;
        }
    }
}

nav {
    border-radius: 0px 0px 0px 0px;
}

.search-box {
    border-radius: 0 0 5px 5px !important;
    border: none !important;
}

.carousel-item img {
    max-height: 400px !important;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

.fah:hover {
    color: black !important;
    transition: color 0.4s;
}

.form-control:focus {
    border-color: #198754;
    box-shadow: inset 0 1px 1px rgba(52, 58, 64, 0.075), 0 0 8px rgba(52, 58, 64, 0.8);
}

.card {
    border-radius: 0 !important;
    margin: 0 15px;
    &-img-top {
        height: 154px;
        max-width: 154px;
    }
}

.price {
    font-family: 'Roboto', sans-serif !important;
    font-weight: 500 !important;
}

.c-nav {
    a:hover {
        background-color: #ffffff!important;
        color: black!important;
    }
}

.navbar-toggler:focus {
    box-shadow: none;
}

.product {
    &-weight {
        background-color: lightgray;
        border-radius: 9px;
        padding: 1px 8px;
    }
    &-price {
        font-size: 28px;
        font-weight: 500;
        font-family: 'Roboto', sans-serif !important;
    }
    &-price {
        span {
            padding-left: 5px;
            font-size: 20px;
            font-weight: 400;
            font-family: 'Roboto', sans-serif !important;
        }
    }
    &-name {
        font-size: 16px;
        font-weight: 500;
        font-family: 'Roboto', sans-serif !important;
    }
    &-image {
        max-width: 350px;
        height: auto;
    }
}

.btn {
    &:hover {
        box-shadow: none!important;
    }
    &-search {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }
    &-outline-success:hover {
        color: #fff!important;
    }
}

.search-control {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.logo {
    h2 {
        a {
            img {
                max-height: 80px;
            }
        }
    }
}

.profile {
    &:hover {
        background-color: $success!important;
        color: #fff!important;
        transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
    }
}

#profileDropDown::after,
#cartDropDown::after {
    content: none;
}

.shopping-cart {
    font-size: 1.5em;
}