@model ElisStore.Web.ViewModels.Categories.ListCategoryViewModel
@{
    this.ViewData["Title"] = "Продукти";
}
<div class="container-sm text-center">
    @foreach (var category in Model.Categories)
    {
        <h3 class="text-danger d-inline-block m-3"><a asp-controller="Category" asp-action="Index" asp-route-id="@category.Id" class="text-danger">@category.Name</a></h3>
    }
</div>